{% include 'user_header.html' %}
 <!-- ======= Hero Section ======= -->
  <section id="hero" style="background-image: url(/static/friends.jpeg);height: 650px;">
    <div class="hero-container">
     <!--  <h3></h3> -->
      <h1>Suggestions</strong></h1>
     
    </div>
  </section><!-- End Hero -->
  <form method="post">
		<center>
			<h2></h2>
			<table class="table" style="width: 800px">
				<tr>
					<th>Sl.no</th>
					<th>Friend</th>
					<th>Place</th>
							
				</tr>
				{% for row in data['user'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['fname']}} {{row['lname']}}</td>
					<td>{{row['place']}}</td>
					<!--<td>{{row['phone']}}</td>
					<td>{{row['email']}}</td>-->
					<td><a class="btn btn-primary" href="?action=request&fid={{row['user_id']}}">send request</a></td>			
				</tr>
				{% endfor %}
			</table>
</form>
		</center>

{% include 'footer.html' %}