{% include 'user_header.html' %}
       <!-- ======= Hero Section ======= -->
  <section id="hero" style="background-image: url(/static/img1.jpg);height: 500px">
    <div class="hero-container">
   
      
<center>
	  <form method="post">
		<h2 style="color: white">Add Comments</h2>
			<table class="table" style="width: 500px;color: white">
				<tr>
					<th>Comments</th>
					<td><textarea class="form-control" name="com"></textarea></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="manage" value="SEND" class="btn btn-info"></td>
				</tr>
			</table>	
	 
		</div>
  </section><!-- End Hero -->	
<!-- 
			<br>
			<center>
			<h2>Complaint</h2>
			<table class="table" style="width: 900px">
				<tr>
					<th>Sl.no</th>
					<th>Complaint</th>
					<th>Reply</th>
					<th>Date</th>
				</tr>
				{% for row in data['com'] %}
				<tr>
					<td>{{loop.index}}</td>
					<td>{{row['complaint']}}</td>
					<td>{{row['reply']}}</td>
					<td>{{row['date']}}</td>
				</tr>
				{% endfor %}
			</table>

		</center> -->
</form>
     
    </div>
    </section><!-- End Hero -->

{% include 'footer.html' %}